name: CI Pipeline

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"
      - name: Install poetry
        run: python -m pip install poetry
      - name: Create poetry virtual env and install tox
        run: poetry install --only tox
      - name: Test with tox
        run: poetry run tox
