name: CD Pipeline
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v2.1
        with:
          python_version: "3.9"
          poetry_install_options: "--without dev"
          pypi_token: ${{ secrets.PYPI_API_TOKEN }}
